.game-board {
  display: grid;
  grid-template-rows: 7em 7em 7em;
  grid-template-columns: 7em 7em 7em;
}

body {
display: flex;
justify-content: center;
}
.box {
background: #095070;
border: 1px solid #555;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
align-items: center;
color: #AAA;
font-size: 60px;
font-weight: bold;
}